* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none !important;
  ::-webkit-scrollbar {
    display: none;
    width: 0;
    background: transparent;
  }
}


body {
  background: var(--app-bg) center center no-repeat !important;
  background-size: 100% 100%;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
